// If you want to override variables do it here
@import "_variable";

// Import styles
@import "~@coreui/coreui/scss/coreui";
@import 'node_modules/bootstrap-vue/src/index.scss';

// If you want to add something do it here
@import "_custom";